*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: rgb(180, 180, 180);
    height: 80px;
    text-align: center;
    position: fixed;
    top:0;
    left:0;
    width:100%;
}
nav li{
    line-height: 80px;
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}
.logo img{
    vertical-align: middle;
}

main{
    margin-top: 100px;
    padding: 0 2rem;
}

main>p{
    margin: 1rem 0;
}